:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.goofy{
    background-color: red;
    color: white;
    font-size: 60px;
    padding: 20px;
}
.ppp{
    background-color: blue;
    color: white;
    font-size: 60px;
    padding: 20px;
}
.puppy{
    background-color: green;
    color: white;
    font-size: 40px;
    padding: 20px;
}
.new-div{
    background-color: purple;
    color: white;
    font-size: 20px;
    padding: 20px;
}
.container *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}