#root {
    color: brown;
    background: #000;
    padding: 20px;
}
.goofy{
    background-color: red;
    color: white;
    font-size: 60px;
    padding: 20px;
}
.ppp{
    background-color: blue;
    color: white;
    font-size: 60px;
    padding: 20px;
}
.puppy{
    background-color: gray;
    color: white;
    font-size: 160px;
    padding: 20px;
}